svg {
	display: block;
	margin: 0 auto;
	margin-top: 10%;
}

#cercle {
	fill:red;
	stroke:DarkBlue;
	stroke-width:4px;
	transform-origin: 50% 50%;
}

g {
	transform-origin: 50% 50%;
	animation: tourner 4s infinite linear;
}

.oval {
	fill:Chartreuse;
	stroke:DarkBlue;
	stroke-width:4px;
	transform-origin: 50% 50%;
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	animation: contours 4s infinite linear;
}

@keyframes tourner {
	from { 
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes contours {
	from {
		stroke-dasharray:1000;
	}

	50% {
		stroke-dasharray:0;
	}

	to {
		stroke-dasharray:1000;
	}
}